button {
    margin-right: 10px;
    cursor: pointer;
}
.collectioName {
    padding-bottom: 35px;
    float: left;
    background: #9969dc;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    font-size: 30px;
    margin-top: 0;
}
label {
    color: #9969dc;
}
.form-control {
  border-color: #999999!important;
}
.form-control::placeholder {
  color: #999999!important;
  opacity: 1; /* Firefox */
}

thead {
    background: #b11d25;
}
th {
    color: #FFF!important;
    font-weight: bold!important;
    font-size: 16px!important;
}
.alert-success {
    background-color: #13b100;
    display: block;
    position: relative;
}
.card .card-title {
    margin-bottom: 15px;
}

.addCat {
    float:right;
    margin-top:40px;
  }


.form-select  {
    width: 100%;
    padding: 7px 4px;
    border: 1px solid #ced4da;

}

th, td {
    text-align: center!important;
}

.alert-success i {
    font-size: 15px;
}

.alert {
    width: 100%;
    position: relative;
    z-index: 999;
    line-height: 30px;
    border-radius: 4px;
}
.delete_pro {
    cursor: pointer;
    font-size: 29px!important;
    color: #d80202;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
.toggle.ios .toggle-handle { border-radius: 20rem; }
.toggle.btn-outline-success .toggle-handle {
    background-color: #00d932!important;
    border-color: var(--success);
}


.toggle.btn-outline-danger .toggle-handle {
    background-color: #e8041a!important;
    border-color: var(--danger);
}
.tab-pane {
    padding: 10px;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 9px;
    width: 20px;
    height: 15px;
    margin-bottom: 15px;
}
.alltabs {
    padding: 0 15px;
}
.nav-tabs .nav-link {
    color: #7a55b8;
}
.modal-dialog {
    top: -60px!important
}
.product {
    min-height: 200px;
    width: 100%;
    background-color: ;
}
.OrdersTable>thead>tr>th, .OrdersTable>tbody>tr>th, .OrdersTable>tfoot>tr>th, .OrdersTable>thead>tr>td, .OrdersTable>tbody>tr>td, .OrdersTable>tfoot>tr>td
{
    vertical-align: middle;
    color: #333!important;
    text-align: left!important;
}
.card [class*="card-header-"] .card-title+.card-category {
    color: rgba(255, 255, 255, 0.8);
  }

  .card [class*="card-header-"] .card-title+.card-category a {
    color: #fff;
  }

  .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
  }

  .card [class*="card-header-"] .card-icon,
  .card [class*="card-header-"] .card-text {
    border-radius: 3px;
    background-color: #999999;
    padding: 15px;
    margin-top: -40px;
    margin-right: 15px;
    float: left;
  }

  .card [class*="card-header-"] .card-text {
    float: none;
    display: inline-block;
    margin-right: 0;
  }

  .card [class*="card-header-"] .card-text .card-title {
    color: #fff;
    margin-top: 0;
  }

  .card [class*="card-header-"] .ct-chart .card-title {
    color: #fff;
  }

  .card [class*="card-header-"] .ct-chart .card-category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
  }

  .card [class*="card-header-"] .ct-chart .ct-label {
    color: rgba(255, 255, 255, 0.7);
  }

  .card [class*="card-header-"] .ct-chart .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
  }

  .card [class*="card-header-"] .ct-chart .ct-series-a .ct-point,
  .card [class*="card-header-"] .ct-chart .ct-series-a .ct-line,
  .card [class*="card-header-"] .ct-chart .ct-series-a .ct-bar,
  .card [class*="card-header-"] .ct-chart .ct-series-a .ct-slice-donut {
    stroke: rgba(255, 255, 255, 0.8);
  }

  .card [class*="card-header-"] .ct-chart .ct-series-a .ct-slice-pie,
  .card [class*="card-header-"] .ct-chart .ct-series-a .ct-area {
    fill: rgba(255, 255, 255, 0.4);
  }

  .card [class*="card-header-"] .ct-chart .ct-series-a .ct-bar {
    stroke-width: 10px;
  }

  .card [class*="card-header-"] .ct-chart .ct-point {
    stroke-width: 10px;
    stroke-linecap: round;
  }

  .card [class*="card-header-"] .ct-chart .ct-line {
    fill: none;
    stroke-width: 4px;
  }

  .card [data-header-animation="true"] {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  }

  .card:hover [data-header-animation="true"] {
    -webkit-transform: translate3d(0, -50px, 0);
    -moz-transform: translate3d(0, -50px, 0);
    -o-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  .card .map {
    height: 280px;
    border-radius: 6px;
    margin-top: 15px;
  }

  .card .map.map-big {
    height: 420px;
  }

  .card .card-body.table-full-width {
    padding: 0;
  }

  .card .card-plain .card-header-icon {
    margin-right: 15px !important;
  }

  .table-sales {
    margin-top: 40px;
  }
  .sup_modal.modal-dialog {
    -webkit-transform: translate(0, 10%)!important;
  }
  .iframe-container {
    width: 100%;
  }

  .iframe-container iframe {
    width: 100%;
    height: 500px;
    border: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .card-wizard .nav.nav-pills .nav-item {
    margin: 0;
  }

  .card-wizard .nav.nav-pills .nav-item .nav-link {
    padding: 6px 15px !important;
  }

  .card-wizard .nav-pills:not(.flex-column) .nav-item+.nav-item:not(:first-child) {
    margin-left: 0;
  }

  .card-wizard .nav-item .nav-link.active,
  .card-wizard .nav-item .nav-link:hover,
  .card-wizard .nav-item .nav-link:focus {
    background-color: inherit !important;
    box-shadow: none !important;
  }

  .card-wizard .input-group-text {
    padding: 6px 15px 0px !important;
  }

  .card-wizard .card-footer {
    border-top: none !important;
  }

  .card-chart .card-body+.card-footer,
  .card-product .card-body+.card-footer {
    border-top: 1px solid #eee;
  }

  .card-product .price {
    color: inherit;
  }

  .card-collapse {
    margin-bottom: 15px;
  }

  .card-collapse .card .card-header a[aria-expanded="true"] {
    color: #e91e63;
  }

  .card-stats .card-header.card-header-icon,
  .card-stats .card-header.card-header-text {
    text-align: right;
  }

  .card-stats .card-header .card-icon+.card-title,
  .card-stats .card-header .card-icon+.card-category {
    padding-top: 10px;
  }

  .card-stats .card-header.card-header-icon .card-title,
  .card-stats .card-header.card-header-text .card-title,
  .card-stats .card-header.card-header-icon .card-category,
  .card-stats .card-header.card-header-text .card-category {
    margin: 0;
  }

  .card-stats .card-header .card-category {
    margin-bottom: 0;
    margin-top: 0;
  }

  .card-stats .card-header .card-category:not([class*="text-"]) {
    color: #999999;
    font-size: 14px;
  }

  .card-stats .card-header+.card-footer {
    border-top: 1px solid #eee;
    margin-top: 20px;
  }

  .card-stats .card-header.card-header-icon i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
    color: #FFF;
  }
  .card-stats .card-body {
    text-align: right;
  }

  .card-profile {
    margin-top: 30px;
    text-align: center;
  }

  .card-profile .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .card-profile .card-avatar+.card-body {
    margin-top: 15px;
  }

  .card-profile .card-avatar img {
    width: 100%;
    height: auto;
  }

  .card-profile .card-body+.card-footer {
    margin-top: -15px;
  }

  .card-profile .card-footer .btn.btn-just-icon {
    font-size: 20px;
    padding: 12px 12px;
    line-height: 1em;
  }

  .card-profile.card-plain .card-avatar {
    margin-top: 0;
  }

  .card-profile .card-header:not([class*="card-header-"]) {
    background: transparent;
  }

  .card-profile .card-avatar {
    max-width: 130px;
    max-height: 130px;
  }

  .card-plain {
    background: transparent;
    box-shadow: none;
  }

  .card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
  }

  .card-plain .card-body {
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-plain .card-header-image {
    margin: 0 !important;
    border-radius: 6px;
  }

  .card-plain .card-header-image img {
    border-radius: 6px;
  }

  .card-plain .card-footer {
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
  }

  .green {
    background-color:#43a047!important;
}
.red {
    background-color:#e53935!important;
}
.yellow {
    background-color: #fb8c00!important;
}

.paruple {
    background-color: #ab47bc!important;
}
.cayan {
    background-color: #26c6da!important;
}
.blue {
    background-color: #7056ff!important;
}
.card-header.card-header-success.card-header-icon{
    border-bottom: 1px solid #DDD!important;
    padding-bottom: 10px;
}
.card-stats .card-footer {
    margin-top: 0!important;
}
.myTask {
    font-size: 16px;
    margin: 0;
}
.abouttime {
    font-weight: 300;
    color: #996bdb;

}
.dataTables_wrapper .dataTables_length select {
    height: 30px;
    width: 90px;
    display: inline-table;
    line-height: 10px!important;
    font-size: 15px;
    padding: 0!important;
}
.dataTables_wrapper .dataTables_filter input {
    height: 27px;
}
tr th:first-child {
    border-radius: 7px 0 0 0;
    position: inherit;
}
tr th:last-child {
    border-radius:0 7px 0 0;
    position: inherit;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #FFF !important ;
    background: #7a55b8!important;
}
#myDTable .toggle.btn.ios {
padding: 0;
}
thead tr th {
    border: 0!important;
}
table.dataTable.no-footer {
    border-bottom: 0!important;
    margin-bottom: 30px;
}
.bulkForm {
    text-align: center;
    float: right;
    display: contents;
}
.add_supp {
float: right;
}
.mydropdown {
  display: none;
  padding: 0;
}
.mydropdown li {
  list-style: none;
}
.nav-link {
  cursor: pointer;
}
.mydropdown li {
  list-style: none;
  padding: 5px 0;
  border-radius: 5px;
  margin: 5px 0;
  margin: 4px 15px;
  color: #FFF;
   cursor: pointer;
}
.mydropdown li:hover{
  background: rgb(127 94 200);
 }
.mydropdown li a {
  color: #FFF;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 8px);
}


img:-moz-broken{
  opacity: 0;
}

img {  
  position: relative;
}

img::after {  
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.mydropdown li a {
  width: 100%;
  display: block;
  padding-left: 46px;

}




.COMPANY {
  display: none;
}


textarea {
  min-height: 120px;
}

.carousel-control-next-icon {
  background-color: #b11e24;
  border-radius: 20px;
  padding: 20px;
}

.carousel-control-prev-icon {
  background-color: #b11e24;
  border-radius: 20px;
  padding: 20px;
}














